body {
    background-color: #21233A;
    color: whitesmoke;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1.3rem;
}

button {
    font-size: 1.2rem;
    padding: 1em;
    background-color: whitesmoke;
    color: #21233A;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}

button:hover {
    background-color: yellowgreen;
}